:root {
  --main-color: bisque;
  --color-1: #c5b88b;
  --color-2: #dfa784;
  --accent-1: #9f986a;
  --accent-2: #84836e;
}



body {
  background-color: var(--main-color);
  color: var(--accent-2);
  font-family: var(--font-main);
}
