:root {
    /* Magic Feather theme */
    --primary-color: #E654A4;
    --secondary-color: #FFC405;
    --tertiary-color: #F8F13A;
    --accent-1 : #39D2CA;
    --accent-2 : #378498;

    --primary-font:'Oxygen';
    --secondary-font:'Montserrat'

  }
  
  
  html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font), sans-serif;
}

h1, h2 {
  font-family: var(--primary-font), sans-serif;  
  color: var(--accent-1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
